
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>

    <div class="form-outline mb-4">
        <label class="form-label" for="usuario-input">Usuario</label>
        <input type="text" id="usuario-input" class="form-control" />
    </div>


    <div class="form-outline mb-4">
        <label class="form-label" for="password-input">Password</label>
        <input type="password" id="password-input" class="form-control" />
    </div>


    <button type="button" onclick="autenticar()" class="btn btn-primary btn-block mb-4">Entrar</button>
</form>
<script>
    function autenticar() {
        let senddata = {
            "UserName": $("#usuario-input").val(),
            "Password": $("#password-input").val()
        };
        console.log(senddata);

        $.ajax({
            type: 'POST',
            url: 'https://sdcentro.surtidoradepartamental.com:8077/ServiciosKosmos/api/auth/Login',
            contentType: "application/json",
            data: JSON.stringify(senddata),
            success: function (respuesta) {
                let token = respuesta["token"];
                if (token == '') {
                    alert("Autenticacion falló");
                } else {
                    sessionStorage.setItem("token", token);
                    window.location.href = "../Crud";
                }
            },
            error: function () {
                alert("Algo salio Mal");
            }
        });



    }
</script>