
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="~/Crud/Crear"  class="btn btn-primary btn-block mb-4">Nueva Persona</a>
    <a href="~/Crud/Editar"  class="btn btn-primary btn-block mb-4">Editar Persona</a>
    <a href="~/Crud/Eliminar" class="btn btn-primary btn-block mb-4">Eliminar Persona</a>
    <a href="~/Reporte" class="btn btn-primary btn-block mb-4">Reporte</a>
</div>




